@page  "{pageNumber=1}/{query?}"
@model BingSamples.Web.Pages.Bing.SearchImagesPageModel

@{
    ViewData["Title"] = "Search Images";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-page="/Bing/Index">Dashboard</a>
        </li>

        <li aria-current="page"
            class="breadcrumb-item active">
            Search images
        </li>
    </ol>
}

<h2>
    Search page for images
</h2>
<p>Form below uses Bing Search API to search images.</p>

<div class="container">
    <form class="row">
        <div class="col-8">
            <div class="input-group mb-3">
                <input class="form-control"
                       id="tbQuery"
                       name="Query"
                       placeholder="enter search query and press Find me a good result"
                       type="text"
                       value="@Model.Query">
                <button class="btn btn-outline-secondary"
                        type="submit">
                    Find me a good result <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<div class="container mt-2">
    @if (Model.SearchResults.Any())
    {
        <div class="row">
            @foreach (var modelSearchResult in Model.SearchResults)
            {
                <div class="col-3 mb-2">
                    <div class="card">
                        <img src="@modelSearchResult.ImageUrl" class="card-img-top" alt="@modelSearchResult.AltText">
                        <div class="card-body">
                            <p class="card-text">
                                @modelSearchResult.AltText
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>There is no videos shown. Change query <b>@Model.Query</b> and try again!</p>
    }
</div>